{% extends 'layout.html' %}



{% block content %}

 <div class="grid grid-cols-3 gap-4 m-4 ">

     {% for item in cloth  %}
     <div class =  "bg-blue-400 p-4">
         <img src="{{ item.image.url }}" alt="">
         <h3>{{ item.name }}</h3> 
         <a href="#">
            <button type="button"
            class = "bg-orange-500  hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
            >
                {{item.size}}-{{item.id}}
            </button>
         </a>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}